.Carrot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-top: 2px solid green;
  box-sizing: border-box;
  background-color: orange;
  position: absolute;
}