.GameBoard {
  width: calc(100vw - 50px);
  height: calc(100vh - 50px);
  border: 10px solid brown;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 25px;
  padding: 25px;
  position: relative;
}

.GameBoard:focus {
  outline: none;
}